
<<<<<<< HEAD
<<<<<<< HEAD
<h1>Benvenuto su MyCourse</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias in laudantium quod recusandae est voluptate deserunt voluptates suscipit reiciendis ullam ratione aliquid, illum et sed ipsa tenetur vero. Mollitia, odit.</p>
<p>Deserunt nemo accusamus officia! Ipsum beatae, nihil natus dignissimos et rerum nisi veniam id, aliquid hic inventore eos? Reprehenderit explicabo molestias dignissimos hic illo sed eligendi rem ipsum ut expedita!</p>
<p>Hic natus quia nemo ipsam libero recusandae voluptate quod at. Soluta quo natus perspiciatis eum esse error blanditiis earum nisi nihil eius? Perferendis voluptatibus modi amet soluta nulla laboriosam fugiat?</p>
<p>Suscipit consectetur aliquam odio blanditiis optio quisquam quidem? Molestias dolorum sed error cumque officiis ex sunt, in debitis autem explicabo dolor. Pariatur et quae iusto ullam, ab maiores architecto dolorum!</p>
<p>Voluptas veniam, facere dolorum at dignissimos magnam reprehenderit beatae ab iure error dolores nostrum debitis laborum quas id aliquid, tenetur minima culpa. Incidunt dicta saepe eum maxime quam, est autem!</p>
    
=======
=======
>>>>>>> 745fce1... Aggiunta view di contenuto e una view di layout
<h1>Sono la view per l'action Index dell'HomeController</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, iusto reiciendis vel officiis temporibus nam possimus debitis vitae? Molestiae dolor incidunt ab exercitationem. Eum eveniet asperiores voluptate illum in maxime?</p>
<p>Natus nam dicta quasi a cupiditate suscipit eos consectetur fuga est voluptatibus ducimus dolorum eum, culpa recusandae vitae veritatis pariatur illo necessitatibus officia velit rem iure. Consequuntur aliquam laboriosam similique.</p>
<p>Labore pariatur accusantium aspernatur autem deserunt ratione reprehenderit alias expedita quas est voluptatum temporibus perferendis sed officiis ipsa beatae, id dicta non? Distinctio recusandae, unde natus eveniet dolorum provident ex.</p>
<p>Laborum fuga ipsam corrupti eaque at adipisci ea minus quasi debitis in cum numquam officia vel, voluptatibus commodi! Recusandae consectetur quos distinctio, exercitationem soluta veritatis accusamus illo corporis quasi maxime?</p>
<p>Magni, reiciendis quis? Fugiat itaque repellat eius impedit beatae incidunt commodi quasi et laborum tempora harum praesentium tenetur, corrupti quae, doloremque facilis minima voluptatem! Excepturi harum ex at? Omnis, officiis.</p>
<<<<<<< HEAD
>>>>>>> Sezione07
=======
>>>>>>> 745fce1... Aggiunta view di contenuto e una view di layout
